.container {
  width: 1300px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

.header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: RGB(21, 21, 21);
  padding: 20px;
  color: #FFF;
}

.header__oo:hover {
  border: 2px solid #FFF;
  padding: 2px;
}

.logo:hover {
  padding: 2px;
  border: 2px solid #FFF;
}

.menu {
  float: right;
  line-height: 100px;
}

.menu a {
  text-decoration: none;
  color: #FFF;
  margin: 0 10px;
  transition: 0.4s;
}

.show-menu-button,
.hide-menu-button {
  transition: 0.4s;
  font-size: 30px;
  display: none;
  cursor: pointer;
  line-height: 100px;
}

.show-menu-button {
  float: right;
}

.menu a:hover {
  color: rgb(249, 253, 5);
}

#chk {
  display: none;
}

.show-menu-button:hover {
  color: rgb(249, 253, 5);
}

.hide-menu-button:hover {
  color: black;
}

.hechi {
  width: 95%;
  margin: 0 auto;
  height: 5px;
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .show-menu-button,
.hide-menu-button {
    display: block;
    color: rgb(255, 255, 255);
  }
  .header {
    justify-content: space-around;
  }
  .menu {
    background-color: aqua;
    position: fixed;
    width: 25%;
    top: 100px;
    margin-left: 25px;
    color: black;
    left: 0;
    text-align: center;
    right: -100%;
  }
  .menu a {
    display: block;
  }
  .menu a:hover {
    color: black;
  }
  .hide-menu-button {
    position: absolute;
    right: 35px;
    top: 1px;
  }
  #chk:checked ~ .menu {
    display: none;
  }
  .show-menu-button {
    left: 100px;
    position: absolute;
  }
}
.main__hero {
  background-color: rgb(20, 20, 20);
  display: flex;
}
.main__hero__text {
  margin-left: 50px;
  margin-top: 200px;
  height: 300px;
  font-size: 30px;
  color: #fff;
  top: 500px;
  left: 400px;
  text-align: center;
  width: 550px;
}
.main__hero__text__btn:active {
  opacity: 0.5;
}
.main__hero__text__btn:hover {
  font-size: 50px;
}
.main__hero__text__btn {
  margin-top: 20px;
  font-size: 45px;
  color: #fff;
  border: none;
  background-color: #d8854a;
}
.main__hero__text h3 {
  color: rgb(74, 73, 73);
  margin-bottom: 15px;
}
.main__hero__text h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

@media screen and (max_width: 1000px) {
  .main__hero {
    width: 100%;
    margin: 0 auto;
  }
  .main__hero__pic {
    z-index: -1;
  }
  .main__hero__text {
    font-size: 30px;
    color: #fff;
    top: 500px;
    left: 400px;
    position: absolute;
    text-align: center;
    width: 500px;
  }
  .main__hero__text__btn:active {
    opacity: 0.5;
  }
  .main__hero__text__btn:hover {
    font-size: 50px;
  }
  .main__hero__text__btn {
    margin-top: 20px;
    font-size: 45px;
    color: #fff;
    border: none;
    background-color: #d8d34a;
  }
  .main__hero__text h3 {
    color: rgb(74, 73, 73);
    margin-bottom: 15px;
  }
  .main__hero__text h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
}
.main__cat {
  margin: 0 auto;
  border: none;
}
.main__cat__card {
  width: 1230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__cat__card .card1 {
  margin-inline: 70px;
}

.main {
  width: 95%;
  margin-left: 30px;
}

.main__dog {
  width: 1110px;
  height: 320px;
  background-color: rgb(227, 90, 31);
  margin: 0 auto;
}
.main__dog__card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1px small;
}
.main__dog__card .card5 {
  width: 450px;
}
.main__dog__card .card5 .zx {
  font-size: 50px;
  width: 200px;
}
.main__dog__card .card5 h3 {
  color: aliceblue;
  margin-bottom: 20px;
}
.main__dog__card .btn1 {
  width: 160px;
  height: 48px;
  margin-left: 96px;
  margin-top: 32px;
  background-color: #000000;
  border: none;
  color: #fff;
  height: 48px;
}

.main__continue {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}
.main__continue .dog img {
  width: 900px;
  height: 200px;
  background-image: url(/img/Bitmap.svg);
}
.main__continue .dog {
  background-image: url(/img/Bitmap\ \(2\).svg);
  width: 1110px;
  height: 320px;
  margin-top: 48px;
}
.main__continue .dog1 {
  margin-left: 95px;
  padding-top: 101px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}
.main__continue .btn {
  width: 160px;
  height: 48px;
  margin-left: 96px;
  margin-top: 32px;
  background-color: #000000;
  border: none;
  color: #fff;
  height: 48px;
}
.main__continue .btn1 {
  width: 160px;
  height: 48px;
  margin-left: 96px;
  margin-top: 32px;
  background-color: #000000;
  border: none;
  color: #fff;
  height: 48px;
}

.main__cont {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
}
.main__cont .dog2 {
  width: 80%;
  height: 20%;
}
.main__cont .dog3 {
  width: 700px;
  height: 300px;
  border-radius: 8px;
  background-image: url(/img/Mask.png);
}
.main__cont .dog3 .dog4 {
  padding: 70px;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 2px;
  text-align: left;
}
.main__cont .dog3 .btn3 {
  width: 160px;
  height: 48px;
  margin-left: 122px;
  margin-bottom: 30px;
  background-color: #000000;
  border: none;
  color: #fff;
  height: 48px;
}

.main__con {
  width: 445px;
  height: 88px;
}
.main__con .con1 {
  font-family: Manrope;
  margin-top: 120px;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626px;
  text-align: left;
  margin-left: 165px;
}
.main__con .con2 {
  color: #D87D4A;
}
.main__con .con3 {
  height: 175px;
  width: 445px;
  left: 0px;
  top: 120px;
}
.main__con .con4 {
  margin-left: 165px;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}
.main__con .con5 {
  height: 500px;
  width: 300px;
  left: 30px;
  top: 200px;
}
.main__con .con5 .cen5 {
  position: absolute;
  width: 500px;
  height: 580px;
  left: 810px;
  top: 2100px;
  background-image: url(/img/Bitmap\ \(3\).svg);
  border-radius: 8px;
}

.footer {
  position: absolute;
  width: 1280px;
  height: 430px;
  left: 120px;
  top: 2850px;
  background: #101010;
  display: flex;
}
.footer__logo {
  position: absolute;
  left: 165px;
  right: 1087px;
  top: 70px;
  background: #101010;
}
.footer__heand {
  height: 200px;
  width: 540px;
  margin-left: 165px;
  color: white;
  margin-top: 140px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  opacity: 50%;
}
.footer__hean {
  height: 25px;
  width: 540px;
  margin-left: 165px;
  top: 3877px;
  opacity: 50%;
  color: white;
  line-height: 25px;
}
.footer__menu {
  width: 400px;
  height: 25px;
  display: flex;
  margin-top: 5%;
  margin-left: 165px;
  gap: 15px;
}
.footer__menu a {
  color: white;
  text-decoration: none;
}
.footer__img {
  height: 24px;
  width: 24px;
  left: 1171px;
  top: 3790px;
  border-radius: 0px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1050px;
  top: 300px;
  background: #1e1a1a;
  display: flex;
  gap: 16px;
}

/*# sourceMappingURL=main.css.map */
